body
{
  color: white;
  background: rgb(164, 29, 29);
}
span
{
  font-size: 27px;
}
#CAMERA , #RESULT
{
  border: 2px dashed black;
  width: 350px;
  height: 300px; 
}
#title{
  font-family: 'Cookie', cursive;
  font-size: 100px;
}
.emotion_name
{
  font-family: 'Nova Cut', cursive;
  font-size: 40px;
}
.pro1
{
  font-size:48px;
}

#SNAP , #EMOTION{
  font-family: 'Newsreader', serif;
  color: black;
  background-color: lightblue;
}
.NAME{
  font-family: 'Nova Cut', cursive;
}
.sec1{
  font-size:30px;
  font-family: 'UnifrakturCook', cursive
}
#tak{
    font-family: 'Mea Culpa', cursive;
    font-size: 50px;
}
#po{
    background-color: teal;
}